@font-face {
    font-family: "SquarePeg";
    src: url("../fonts/Square_Peg/SquarePeg-Regular.ttf");
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(33, 33, 33);
    color: rgb(222, 222, 222);
    margin: 0;
    font-family: Rubik, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 450px;
    height: 450px;
}

main header {
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    font-family: SquarePeg, sans-serif;
    width: 133px;
    height: 133px;
    border: 3px solid #626262;
    text-align: center;
    font-size: 6em;
    cursor: pointer;
    text-transform: uppercase;
}

td:hover {
    background-color: rgba(252, 248, 87, 0.67);
}

tr:first-child td {
    border-top: 0;
}

td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

td:last-child {
    border-right: 0;
}

.btn {
    padding: 6px 12px;
    border: unset;
    border-radius: 4px;
    font-weight: bold;
}

.btn-primary {
    color: rgb(222, 222, 222) !important;
    background-color: #7413e7 !important;
}

#modal {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.modal-container {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(33, 33, 33);
    height: 300px;
    width: 300px;
    overflow: auto;
}

.modal-container h2 {
    border-bottom: 1px solid #626262;
    margin: 0;
    padding: 12px;
    padding-bottom: 0;
}

#modal-content {
    padding: 12px;
}

#modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.hide {
    display: none;
}