@font-face {
    font-family: "SquarePeg";
    src: url("../fonts/Square_Peg/SquarePeg-Regular.ttf");
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(33, 33, 33);
    color: rgb(222, 222, 222);
    margin: 0;
    font-family: Rubik, sans-serif;
}

.ff-squarepeg {
    font-family: SquarePeg, sans-serif !important;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    height: 80px;
}

.main-header a {
    color: rgb(222, 222, 222);
    text-decoration: none;
}

.main-navigation ul li a:hover {
    color: rgb(116, 19, 231);
}

.container {
    min-height: calc(100vh - 160px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 160px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(48, 9, 105);
    padding-left: 64px;
    padding-right: 64px;
    height: 80px;
}

.inline-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    float: left;
    margin-right: 16px;
}

.inline-list li:last-child {
    margin-right: 0;
}

footer a {
    color: rgb(222, 222, 222);
    text-decoration: none;
}

footer a:hover {
    color: crimson;
}

.hidden {
    display: none !important;
}

#main-modal {
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(33, 33, 33);
    height: 350px;
    width: 350px;
    overflow: auto;
}

.modal h2 {
    border-bottom: 1px solid #626262;
    margin: 0;
    padding: 12px;
    padding-bottom: 0;
}

#modal-body {
    padding: 12px;
}

#modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.btn {
    padding: 6px 12px;
    border: unset;
    border-radius: 4px;
    font-weight: bold;
    margin: 6px;
    cursor: pointer;
}

.btn-primary {
    color: rgb(222, 222, 222) !important;
    background-color: #7413e7 !important;
}

.btn-primary:hover {
    color: rgb(222, 222, 222) !important;
    background-color: #460f88 !important;
}

.btn-secondary {
    border: 1px solid #7413e7 !important;
    color: rgb(116, 19, 231) !important;
    background-color: unset !important;
}

.btn-secondary:hover {
    border: 1px solid #460f88 !important;
    color: rgb(70, 15, 136) !important;
    background-color: unset !important;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 0.8em;
    }

    .main-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 310px) {
    .main-header {
        justify-content: right;
    }

    h1 {
        display: none;
    }

    footer {
        justify-content: center;
        flex-direction: column;
    }

    .copyright {
        margin-top: 16px;
    }
}